/* body{
    background-image: url(./image/DSC00751.JPG);
    background-size: cover;
    background-repeat: repeat;
} */
.titleHeader{
    padding-top: 3em;
}
.container{
    padding-top: 3em;
}
a{
    color: #000000;
    font-size: 2em;
}
.imgContainer{
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(10, 64, 114);
  }
  .text {
    color: white;
    font-size: 80px;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .imgContainer:hover .overlay {
    opacity: .5;
  }
 